<h1>Login</h1>
<form action="/users/login" method="POST">

    <%- include ("./partials/messages") %>

    <label>Username: </label>
    <input type="text" name="username" value="<%= typeof username != 'undefined' ? username : '' %>"></input>
    <label>Password: </label>
    <input type="password" name="password"></input>
    <button type="submit">Login</button>
    <p>Don't have an account? <a href="/users/register">Register</a></p>
</form>