<h1>Add comment</h1>
<form action="/posts/id" method="POST">

    <%- include ("./partials/messages") %>

    <label>Text: </label>
    <textarea type="text" name="body"></textarea>
    <button type="submit">Add comment</button>
    
</form>